<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node.exe"
      watchedFiles="*.js;*.json"
      loggingEnabled="true"
      logDirectory="D:\inetpub\logs\iisnode\" />
  </system.webServer>
  <appSettings>
    <add key="BASE_PATH" value="/missioneodessa" />
  </appSettings>
</configuration>